/*  your css code here. If applicable */
#container{
	margin:20px;
}
#container>p:nth-child(2){
	color:rgb(255,0,0);
	font-size:20px;
}
#container>div:first-child{
	color:rgb(255,0,0);
	font-size:20px;
}
#container>p:last-child{
	color:rgb(255,0,0);
	font-size:20px;
}